body {
    background: url("../image/Juego.png") no-repeat;
    background-size: cover;
}
@font-face {
  font-family: 'Baloo Tammudu';
  src: url("../fonts/BalooTammudu-Regular.ttf");
}
.imageCard {
    background: url("../image/espacio.png") no-repeat;
    background-size: cover;
    width: 90%;
    height: 200px;
    margin-top: 3%;
    margin-left: 5%;
    border: 3px solid;
}
.imageCard img{
    width: 120px;
    height: 198px;
    margin-left: 25%;
}
.cardBox{
    background: #FFEAE2;
    border:2px solid #F0D28F;
    width:190px;
    height: 100px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0) inset;
}
.greenCard{
    background: #46BB40;
    border-bottom-left-radius: 2pc;
    border-bottom-right-radius: 2pc;
}
.card{
    cursor: pointer;
    padding: 1%;
    
}
.headCard{
    border:1px solid;
    background: #BFF5BF;
    width: 95%;
    margin-left: 2%;
    margin-top: 2.5%;
    height: 22px;
    border-radius: 1pc;
}
.headCard p{
    font-family: Bangers;
    margin-left: 3%;
}
.cardBox hr{
    color: grey;
    margin-left: 5%; 
    border: 1px solid;
    width: 90%;
}
.flow{
    display: flex;
    flex-wrap: wrap;
}
.flow p{
    font-family: Bangers;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 5%;
    font-size:medium;
}
.stast{
    margin-bottom:-14px;
    padding-left: 2%;
}
.cards{
    position: fixed;
    top: 500px;
    left: 500px;
}
.data{
    color: #ffffff;
    font-family: bangers;
    position: fixed;
    top: 600px;
    left: 100px;
}
.data h1{
    font-size: 100px;
}
.user1{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 17%;
}
.user1 h5{
    padding: 10%;
    text-align: center;
}
.user2{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    
}
.user2 h5{
    padding: 10%;
    text-align: center;
}
.user3{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 7%;
    
}
.user3 h5{
    padding: 10%;
    text-align: center;
}
.user4{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 7%;
    
}
.user4 h5{
    padding: 10%;
    text-align: center;
}
.user5{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 6%;
}
.user5 h5{
    padding: 10%;
    text-align: center;
}
.user6{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 6%;
}
.user6 h5{
    padding: 10%;
    text-align: center;
}
.user7{
    font-family: Baloo Tammudu;
    background: black;
    width: 150px;
    border-radius: 1pc;
    margin-left: 6%;
}
.user7 h5{
    padding: 10%;
    text-align: center;
}
.users{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 250px;
    color: white;
    left: 200px;
}
.dataCardUser{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    left: 200px;
    
    top: 216px;
}
.numberCard2{
    font-family: Baloo Tammudu;
    margin-left: 4%;
    color: white;
}
.numberCard3{
    font-family: Baloo Tammudu;
    margin-left: 13%;
    color: white;
}
.numberCard4{
    font-family: Baloo Tammudu;
    margin-left: 14%;
    color: white;
}
.numberCard5{
    font-family: Baloo Tammudu;
    margin-left: 13%;
    color: white;
}
.numberCard6{
    font-family: Baloo Tammudu;
    margin-left: 13%;
    color: white;
}
.numberCard7{
    font-family: Baloo Tammudu;
    margin-left: 13%;
    color: white;
}
/* .card:hover{animation:slide-top 0.4s linear both}@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-100px)}} */
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames
  Esto fue generador con AnimatiSS, es una pagina web que te permite crear animaciones CSS de una manera sencilla y rápida.
---------------------------------------------- */
.card:hover{animation:slide-top-left 0.4s linear both} @keyframes slide-top-left{0%{transform:translateY(0) translateX(0)}100%{transform:translateY(-100px) translateX(-150px)}}