body {
    margin: 0;
    padding: 0;
    background: url("../image/Pantalla Principal.png") no-repeat center center fixed;
    background-size: cover;
    font-family: "Bangers", system-ui;
}

.bangers-regular {
  font-weight: 400;
  font-style: normal;
}
.navegador{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}
.navegador_boton{
    font-size:70px;
}
.titulo{
    padding-left:25% ;
}
.cantidad{
    width: 100%;
}
.flow{
    display: flex;
    flex-wrap: wrap;
}
.cajaCantidad h1{
    color:white; 
    font-family: "Bangers", system-ui;
}
.cajaCantidad{
    font-family: "Bangers", system-ui;
    font-size: 30px;
    padding-left: 20%;
}
.cantidad input,
.jugadores input {
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    background-color: #BFF5BF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    transition: all 0.3s ease;
}

@font-face {
  font-family: 'Baloo Tammudu';
  src: url("../fonts/BalooTammudu-Regular.ttf");
}
.jugar h1 {
    font-size: 60px;
    color: #CDDB24;
    background-color: #1b1b1b;
    border: 3px solid #CDDB24;
    border-radius: 20px;
    padding: 15px 40px;
    position: absolute;
    left: 45%;
    bottom: 300px;
    cursor: pointer;
    font-family: "Bangers", system-ui;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 0 6px #999;
    transition: all 0.3s ease;
}

.jugar h1:hover {
    transform: scale(1.1);
    background-color: #292929;
    box-shadow: 0 10px #666;
}
